.iconosGaleria{
    margin-top: 12.5rem;
}

#galeria{
    @include flex-column-txtCenter-wrap;
    margin-top: 0rem;
    padding: 2rem;
}

.imgGaleria{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border: $color-borde solid 1rem;
    gap:1rem;
    margin-top: 2rem;
    margin-bottom: 10rem;
    padding:1rem;
    p{
        font-size: 2rem;
        text-align: center;
    }
}

.videoGaleria{
    @include flex-column-itemCenter;
    flex-wrap: wrap;
    div h3{
        margin-top: 3rem;
    }
}

iframe{
    @include ancho-alto (560px, 315px);
}
