
/*MEDIA QUERY desde pantalla de televisor hd a celular*/

@media screen and (max-width:1271px) {
    header{
        @include flex-column-itemCenter;
        justify-content: column;
        flex-wrap: wrap;
    }
    .logo{
        width:10rem;
    }
    #ulnav{
        margin: 0 9rem;
        gap: 9rem;
        padding: 2rem;
        li{
            font-size: 1.6rem;
            font-weight: 1000;
        }
    }
    .iconosFlex{
        margin-top: 3rem;
    }
    #carouselExampleIndicators{
        width:25%;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.7rem;
        margin-top: 7rem;
    }
    h3{
        font-size: 1.5rem;
    }
    .iconosGaleria, .iconosAdopcion, .iconosContacto{
        margin-top: 15.5rem;
    }
}

@media screen and (max-width:1024px) {
    #grillaIndex {
        grid-template-rows: 125px 450px auto 50px;
    }
    .logo{
        height:8rem;
    }
    #ulnav{
        margin:0 8rem;
        gap: 10rem;
        padding: 1rem;
        li{
            font-size: 1.3rem;
            a:hover{
                padding: 1rem;
            }
        }
    }
    .iconosFlex{
        margin-top: 0.5rem;
    }
    #carouselExampleIndicators{
        width:30%;
    }
    h2{
        font-size: 1.6rem;
        margin-top: 9rem;
    }
    h3{
        font-size: 1.4rem;
    }
    .borde{
        border: solid .3rem $color-borde;
        width:17%;
    }
    .adoptantesFotos{
        margin-top: 10rem;
    }
    .transformAdoptante1{
        transform:rotate(-5deg);
    }
    .transformAdoptante2{
        transform: scale(1.5,1.5);
    }
    .transformAdoptante3{
        transform: rotate(10deg);
    }
    .testimonioAdoptante{
        font-size: 0.9rem;
    }
    #videos h2{
        margin-top: .5rem;
    }
    .iconosGaleria, .iconosAdopcion, .iconosContacto{
        margin-top: 13rem;
    }
}

@media screen and (max-width:943px) {
    #ulnav{
        margin:0 4rem;
        gap: 7rem;
        li{
            font-size: 1.3rem;
        }
    }
    h1{
        margin-top: 6rem;
    }    
    h2{
        font-size: 2.1rem;
    }
    h3{
        font-size: 1.2rem;
    }
    .adoptantesFotos{
        margin-top: 5rem;
    }
    .testimonioAdoptante{
        font-size: 0.9rem;
    }
}

@media screen and (max-width:845px) {
    #grillaIndex {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "headerIndex headerIndex"
        "carrousel carrousel"
        "adoptantes adoptantes"
        "footerIndex footerIndex";
        grid-template-rows: 125px 350px auto 50px;
    }
    #ulnav{
        margin:0 2rem;
    }
    h2{
        margin-top: 15rem;
    }
    .transformAdoptante1{
        transform:translate(10rem, 2rem)rotate(-5deg);
    }
    .transformAdoptante2{
        transform: translateY(30rem) scale(1.5,1.5);
    }
    .transformAdoptante3{
        transform: translate(-10rem, -2rem)rotate(10deg);
    }
    .testimonioAdoptante{
        font-size: 0.8rem;
    }
    #adoptantes{
        margin-bottom: 30rem;
    }
}

@media screen and (max-width:768px) {
    #grillaIndex{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "headerIndex"
        "carrousel"
        "adoptantes"
        "footerIndex";
        grid-template-rows: 125px 300px auto 50px;
    }
    #ulnav{
        margin: 0 0.5rem;
        padding: 1rem;
        gap:2rem;
        li{
            font-size: 1rem;
        }
    }
    h1{
        margin-top: 3rem;
    }
    h2{
        font-size: 2.2rem;
        margin-top: 5rem;
    }
    h3{
        font-size: 1.8rem;
    }
    #adoptantes{
        margin-top: 8rem;
        margin-bottom: 3rem;
    }
    .adoptantesFotos{
        flex-direction: column;
        gap: 2rem;
        margin-top: 5rem;
    }
    .borde{
        border: solid .4rem $color-borde;
    }
    .transformAdoptante1, .transformAdoptante3{
        @include ancho-alto (20rem, 40rem);
    }
    .transformAdoptante1{
        transform:translate(0rem, 0rem)rotate(0deg);
    }
    .transformAdoptante2{
        transform: translateY(0rem) scale(1,1);
        @include ancho-alto (25rem, 25rem);
    }
    .transformAdoptante3{
        transform: translate(0rem, 0rem)rotate(0deg);
    }
    .testimonioAdoptante{
        font-size: 1.3rem;
    }
    iframe{
        @include ancho-alto (450px, 242px);
    }
    .iconosGaleria .iconosAdopcion{
        margin-top: 12.5rem;
    }
    .iconosContacto{
        margin-top: 13rem;
    }
}

@media screen and (max-width:555px){
    #grillaIndex{
        grid-template-rows: 125px 260px auto 50px;
    }
    #carouselExampleIndicators{
        width:43%;
    }
    h2{
        margin-top:10rem;
        margin-bottom: 0.5rem;
        font-size: 2.1rem;
    }
    h3{
        font-size: 1.7rem;
    }
    .testimonioAdoptante{
        font-size: 1.2rem;
    }
    footer{
        align-content: center;
        font-size:1rem;
        padding: 2rem;
    }
    #footerNosotros, #footerForm, #footerContacto, #footerGaleria{
        padding:0rem;
    }
    .iconosGaleria{
        margin-top: 13rem;
    }
    iframe{
        @include ancho-alto (350px, 175px);
    }
}

@media screen and (max-width:399px) {
    #grillaIndex {
        grid-template-rows: 100px 260px auto 40px;
    }
    #ulnav{
        flex-direction: column;
        text-align: center;
        gap:1rem;
        li{
            font-size: 0.9rem;
            font-weight: 1000;
        }
    }
    .iconosFlex{
        margin-top: 8.5rem;
    }
    .logo{
        @include ancho-alto (6rem, 5rem);
    }  
    #carouselExampleIndicators{
        width:50%;
    }
    h1{
        margin-top: 5rem;
    }
    h2{
        margin-top: 13rem;
        font-size: 2rem;
    }
    h3{
        font-size: 1.6rem;
    }
    #adoptantes{
        margin-top: 10rem;
    }
    .adoptantesFotos{
        gap: 3rem;
    }
    .transformAdoptante1, .transformAdoptante3{
        @include ancho-alto (15rem, 30rem);
    }
    .testimonioAdoptante{
        font-size: 1rem;
    }
    #nosotrosFlex{
        margin-top: 10rem;
    }
    #galeria{
        margin-bottom: 0.1rem;
    }
    #videos h2{
        margin-top:.1rem;
    }
    iframe{
        width:250px;
        height: 109px;
    }
    #galeria h1{
        margin-top: 4rem;
    }
    #formAdopcion{
        padding: 0 2rem;
    }
    #contactoFlex h1{
        margin-top: 5rem;
    }
    .iconosGaleria, .iconosAdopcion, .iconosContacto{
        margin-top: 18.5rem;
    }
}
